@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    123 ABCJOBSITE Way<br />
    Indianapolis, IN 46259-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="support@abcjobsite.com">support@abcjobsite.com</a><br />
    <strong>Marketing:</strong> <a href="info@abcjobsite.com">info@abcjobsite.com</a>
</address>